.container , .forSelect{
    width: 260px;
    height: fit-content;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
}
.forSelect {
    flex-wrap: wrap;
}
.container svg {
    position: relative;
    top:7px;
    right: 50px;
    transition: .2s;
}
.container svg:hover {
    scale: 1.08;
}
.searchBar {
    margin: 0px;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: transparent;
    padding: 2px 2px;
    border: 1px solid #0681FB;
    border-radius: 10px;
    box-sizing: border-box;
    transition: .2s;
}
.searchBar:focus {
    padding: 3.4px 3.4px;
}

.resultsContainer {
    z-index: 99999999;
    overflow-y: auto;
    overflow-x: hidden;
    width: 102%;
    height: auto;
    max-height: 240px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #0681FB;
  
}

.resultsContainer div {
    width:100%;
    height: fit-content;
    margin: auto;
    margin-top: 0px;
    font-size: 17px;
    border-radius: 5px;
    color: #464646;
    font-family: "Roboto", sans-serif;
    letter-spacing: .5px;
    font-weight: 400;
    font-style: normal;
}
.resultsContainer h4 {
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 12px;
    transition: .2s;
    cursor: pointer;
}
.resultsContainer h4:hover {
    transform: scale(1.025);
    text-decoration: underline;
    background: linear-gradient(to bottom right, #0681FB, #0681FB);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
