@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    margin: 10px;
}
.primaryInput {
    width: 260px;
    height: 45px;
    border-radius: 10px;
    outline: none;
    padding-left: 20px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #464646;
    background-color: transparent;
    border: 1px solid #336CFF;
    box-sizing: border-box;
    margin: 0px;
}
.primaryInput:focus {
    border: 2.5px solid #336CFF;
}
.label {
    height: 17px;
    margin: 2px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #464646;
}