@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.primaryButton , .success ,.danger ,.disabled {
    width: fit-content;
    box-sizing: border-box;
    padding-left:12px ;
    padding-right: 12px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #336CFF;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    letter-spacing: .5px;
    font-weight: 400;
    font-style: normal;
    transition: .2s;
}
.primaryButton:hover {
    background-color: #0034BA;
}
.primaryButton:active {
    background-color: #FFFFFF;
    color: #0034BA;
}
/*Success Button*/
.success {
    width: fit-content;
    height: 40px;
    border: none;
    background-color: #00A962;
}
.success:hover {
    background-color: #027a48;
}
.success:active {
    background-color: #FFFFFF;
    color:   #00A962;
}
/*Danger Button*/
.danger {
    width: fit-content;
    height: 40px;
    border: none;
    background-color: #FF4040;
}
.danger:hover {
    background-color: #ab1313;
}
.danger:active {
    background-color: #FFFFFF;
    color:   #FF4040;
}
/*Disabled Button*/
.disabled {
    cursor: default;
    width: fit-content;
    height: 40px;
    border: none;
    color:#646A73 ;
    background-color: transparent;
}
