.simpleAccordionContainer {
  box-sizing: border-box;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: .5px;
  font-weight: 300;
  font-style: normal;
  color: white;
  background-image: linear-gradient(to bottom right, #23313F, #000A13);
  border-radius: 10px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.66);
    box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.66);
}
  .uiAccordionTitle {
    border-bottom: 1px solid #FFFFFF;
    font-family: "Roboto Mono", monospace;
    font-size: 100%;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    padding: 0px;
    color: #FFFFFF;
  }
  .uiAccordionTitle * {
    margin: 0px;
  }
  .uiAccordionTitle  h3{
   margin-top: 20px;
   margin-bottom: 0px;
  }
  .uiAccordionTitle  svg , .simpleAccordionContainer svg {
    position: relative;
    top: -20px;
    margin-left: 95%;
  }

  .uiAccordionTitle p {
    margin: 0px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
  }
  .uiAccordionContent {
  padding: 0px;
  display: none;
}
  
.uiAccordionContent.active {
    display: block;
    background-color: #23313F; 
  }