@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.primaryChip , .bordered ,.shadow{
    width: 98px;
    height: 25px;
    font-size: 12px;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #336CFF;
    color: #FFFFFF;
    transition: .1s;
}
.primaryChip:hover , .bordered:hover ,.shadow:hover {
    transform: scale(1.05);
}
.bordered {
    padding: 4px;
    font-weight: 500;
    color:#464646 ;
    background-color: #FFFFFF;
}