.navBar {
    height: 80px;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-wrap: nowrap;
    color: #FFFFFF;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #23313F, #000A13);
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.66);
    box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.66);
}
.navBar .content {
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
    margin-left: 0px;
}
.navBar .content * {
    margin: auto;
    transition: .2s;
    cursor: pointer;
}
.content *:hover {
    transform: scale(1.2);
    text-decoration: underline;
    background: linear-gradient(to bottom right, #0681FB, #0681FB);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navBar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    transition: .3s;
}
.navBar img:hover {
    transform: scale(1.1);
}
.navBar * {
    margin: auto;
}
.navBar span {
    margin: 12px;
}
