.navBar {
    margin-top: 0px;
    box-sizing: border-box;
    padding: 10px;
    height: 60px;
    font-size: 13px;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-wrap: nowrap;
    color: #FFFFFF;
    background-color: transparent;
    border-bottom: 1px solid #0681FB;
}
.navBar .content {
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
    margin-left: 0px;
}
.navBar .content * {
    margin: auto;
    transition: .2s;
    cursor: pointer;
}
.content *:hover {
    transform: scale(1.2);
    text-decoration: underline;
    background: linear-gradient(to bottom right, #0681FB, #0681FB);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navBar img {
    width: 45px;
    height: 45px;  
    margin-bottom: 10px; 
    object-fit: cover;
    cursor: pointer;
    transition: .3s;
}
.navBar img:hover {
    transform: scale(1.1);
}

.navBar span {
    margin: 12px;
}

.searchbarContainer {
    height: fit-content;
    margin-top: -10px;
}
.searchbarContainer * {
    margin: 0px;
}